h3.assessment-tile.none {
    color: #4d9acb;
}

h3.assessment-tile.dark-blue {
    color:#214493;
}

h3.assessment-tile.regular-blue {
    color:#4D9ACB;
}

h3.assessment-tile.dark-green {
    color:#3B9E80;
}

h3.assessment-tile.darker-green {
    color:#0D5942;
}

h3.assessment-tile.regular-purple {
    color:#C65094;
}

h3.assessment-tile.dark-purple {
    color: #6C3088;
}

.assessment-result {
    border-radius: 3px;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 1rem;
    margin-bottom: 1rem;
}


.assessment-result .item {
    margin: 0.3rem 0;
    border-top: 1px solid #ddd;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.assessment-result .item:nth-child(2) {
    border-top: none;
}

.assessment-result .item .img-icon.img-fluid {
    width: 32px;
    height: 32px;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.assessment-result .competence-area {
    flex-grow: 3;
    width: 45%;
    margin-right: 5px;
}

.assessment-result .competence-area p.title{
    display: inline-block;
}

.assessment-result .proficiency-level {
    flex-grow: 2;
    width: 110px;
}

.assessment-result p {
    margin-top: 1rem;
}

.assessment-result p.notice {
    font-style: italic;
}

.assessment-result .competence-area p ,
.assessment-result .proficiency-level p {
    font-weight: bold;
}

.assessment-result .proficiency-level p {
    text-align: center;
}
.assessment-result .ca-level {
    display:flex;
}


@media screen and (max-width: 1399px) {
    .assessment-result .item .competence-area {
        display: flex;
        justify-content: flex-start!important;

    }

    .assessment-result .item .img-icon.img-fluid {
        margin: 0.1rem 0.1rem 0.3rem 0;
    }

    .assessment-result .proficiency-level p {
        text-align: left;
    }

    .assessment-result .item .img-icon.img-fluid {
        width: 16px;
        height: 16px;
    }

    .assessment-result .item p.proficiency-level p {
        text-align: left;
        display: block;
    }
}

@media screen and (max-width: 380px) {

    .assessment-result .proficiency-bar-item {
        width: 23px;
    }

    .assessment-result .level-font-size {
        white-space: nowrap;
        font-size: small;
    }

    .assessment-result .proficiency-level {
        width: auto;
    }
}


.proficiency-bar-item {
    background-color: #ddd;
    display: inline-block;
    width: 27px;
    height: 0.9rem;
    margin: 0 0 0 3px;
    border: 0;
}

.proficiency-bar-item.bg-gradient.none:nth-child(1) {
    background: linear-gradient(90deg, #073f70 0, #19537e 100%);
}
.proficiency-bar-item.bg-gradient.none:nth-child(2) {
    background: linear-gradient(90deg, #19537e 0, #2c6b91 100%);
}
.proficiency-bar-item.bg-gradient.none:nth-child(3) {
    background: linear-gradient(90deg, #2c6b91 0, #4185a4 100%);
}
.proficiency-bar-item.bg-gradient.none:nth-child(4) {
    background: linear-gradient(90deg, #4185a4 0, #389194 100%);
}
.proficiency-bar-item.bg-gradient.none:nth-child(5) {
    background: linear-gradient(90deg, #389194 0, #329d82 100%);
}
.proficiency-bar-item.bg-gradient.none:nth-child(6) {
    background: linear-gradient(90deg, #329d82 0, #42b18f 100%);
}

.proficiency-bar-item.bg-gradient.dark-blue:nth-child(1),
.proficiency-bar-item.bg-gradient.regular-blue:nth-child(1) {
    background: linear-gradient(90deg, #214493 0, #28529c 100%);
}
.proficiency-bar-item.bg-gradient.dark-blue:nth-child(2),
.proficiency-bar-item.bg-gradient.regular-blue:nth-child(2) {
    background: linear-gradient(90deg, #28529c 0, #2f60a5 100%);
}
.proficiency-bar-item.bg-gradient.dark-blue:nth-child(3),
.proficiency-bar-item.bg-gradient.regular-blue:nth-child(3) {
    background: linear-gradient(90deg, #2f60a5 0, #3770af 100%);
}
.proficiency-bar-item.bg-gradient.dark-blue:nth-child(4),
.proficiency-bar-item.bg-gradient.regular-blue:nth-child(4) {
    background: linear-gradient(90deg, #3770af 0, #3f7eb8 100%);
}
.proficiency-bar-item.bg-gradient.dark-blue:nth-child(5),
.proficiency-bar-item.bg-gradient.regular-blue:nth-child(5) {
    background: linear-gradient(90deg, #3f7eb8 0, #468cc1 100%);
}
.proficiency-bar-item.bg-gradient.dark-blue:nth-child(6),
.proficiency-bar-item.bg-gradient.regular-blue:nth-child(6) {
    background: linear-gradient(90deg, #468cc1 0, #4d9acb 100%);
}

.proficiency-bar-item.bg-gradient.darker-green:nth-child(1),
.proficiency-bar-item.bg-gradient.dark-green:nth-child(1) {
    background: linear-gradient(90deg, #0d5942 0, #15644c 100%);
}
.proficiency-bar-item.bg-gradient.darker-green:nth-child(2),
.proficiency-bar-item.bg-gradient.dark-green:nth-child(2) {
    background: linear-gradient(90deg, #15644c 0, #1c7056 100%);
}
.proficiency-bar-item.bg-gradient.darker-green:nth-child(3),
.proficiency-bar-item.bg-gradient.dark-green:nth-child(3) {
    background: linear-gradient(90deg, #1c7056 0, #247b61 100%);
}
.proficiency-bar-item.bg-gradient.darker-green:nth-child(4),
.proficiency-bar-item.bg-gradient.dark-green:nth-child(4) {
    background: linear-gradient(90deg, #247b61 0, #2c876b 100%);
}
.proficiency-bar-item.bg-gradient.darker-green:nth-child(5),
.proficiency-bar-item.bg-gradient.dark-green:nth-child(5) {
    background: linear-gradient(90deg, #2c876b 0, #339275 100%);
}
.proficiency-bar-item.bg-gradient.darker-green:nth-child(6),
.proficiency-bar-item.bg-gradient.dark-green:nth-child(6) {
    background: linear-gradient(90deg, #339275 0, #3b9e80 100%);
}

.proficiency-bar-item.bg-gradient.dark-purple:nth-child(1),
.proficiency-bar-item.bg-gradient.regular-purple:nth-child(1) {
    background: linear-gradient(90deg, #6c3088 0, #7b358a 100%);
}
.proficiency-bar-item.bg-gradient.dark-purple:nth-child(2),
.proficiency-bar-item.bg-gradient.regular-purple:nth-child(2) {
    background: linear-gradient(90deg, #7b358a 0, #8a3a8c 100%);
}
.proficiency-bar-item.bg-gradient.dark-purple:nth-child(3),
.proficiency-bar-item.bg-gradient.regular-purple:nth-child(3) {
    background: linear-gradient(90deg, #8a3a8c 0, #99408e 100%);
}
.proficiency-bar-item.bg-gradient.dark-purple:nth-child(4),
.proficiency-bar-item.bg-gradient.regular-purple:nth-child(4) {
    background: linear-gradient(90deg, #99408e 0, #a84590 100%);
}
.proficiency-bar-item.bg-gradient.dark-purple:nth-child(5),
.proficiency-bar-item.bg-gradient.regular-purple:nth-child(5) {
    background: linear-gradient(90deg, #a84590 0, #b74a92 100%);
}
.proficiency-bar-item.bg-gradient.dark-purple:nth-child(6),
.proficiency-bar-item.bg-gradient.regular-purple:nth-child(6) {
    background: linear-gradient(90deg, #b74a92 0, #c65094 100%);
}

